public/xmlschemas/gc2.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gc2="http://www.mapcentia.com/gc2" targetNamespace="http://www.mapcentia.com/gc2" elementFormDefault="qualified">
    <complexType name="imageType">
        <simpleContent>
            <extension base="base64Binary">
                <attribute name="width" type="positiveInteger" use="required"/>
                <attribute name="height" type="positiveInteger" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <element name="image" type="gc2:imageType"/>
</schema>