public/xmlschemas/image.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:image="http://www.mapcentia.com/image" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mapcentia.com/image" elementFormDefault="qualified">
    <xsd:complexType name="imageType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:base64Binary">
                <xsd:attribute name="width" type="xsd:positiveInteger" use="required"/>
                <xsd:attribute name="height" type="xsd:positiveInteger" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="image" type="image:imageType"/>
</xsd:schema>